/* Estilos de la lista de contactos */

ul {
    list-style: none;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
    gap: 1rem;
}

ul li{
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.767);
    width: 385px;
    height: 150px;
    padding: 20px; 
    border-radius: 15px;
    border: none;
    transition: transform .2s;
}


ul li:hover{
    transform: scale(1.02);
}

.fa-trash {
    position: absolute;
    top: 10%;
    right: 5%;
    opacity: 0;
    transition: opacity 0.01s ease;
    color: rgb(100, 98, 98);
    margin-left: 5px;
    cursor: pointer;
}
  
li:hover .fa-trash {
    opacity: 1;
}

.btns-list-container .fa-circle-chevron-right, .fa-circle-chevron-left{
    position: absolute;
    top: 48%;
    margin: 0;
    cursor: pointer;
    font-size: 30px;
    transition: transform .2s;
}

.fa-circle-chevron-right{
    right: -5%;
}

.fa-circle-chevron-left{
    left: -5%;
}

.btns-list-container .fa-circle-chevron-right:hover, .fa-circle-chevron-left:hover{
    transform: scale(1.08);
}

@media only screen and (max-width: 767px) {
    ul li {
        width: 100%; 
    }
    ul{
        justify-content: center;
        width: 100%;
    }
}
